<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Corona Cases Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <style type="text/css">

          #logostyle {
            font-size: 40px;
            margin-top: 25px;
            margin-bottom: 10px;
            padding: 10px;
            background-color: black;
            color: blanchedalmond;
            text-align: center;
        }
  </style>
  
  </head>
  <body>
  
  <!-- Logo: Search engine -->
        <div class="row justify-content-left">
            <div class="col-md-5">
                <h1 id="logostyle"><strong> Corona Cases Tracker </strong></h1>
            </div>
        </div>
  
  
  <div class="card">
  <div class="card-header">
    This application lists the current number of cases reported across the globe
  </div>
  </div>
  
  <br><br>
  <div class="jumbotron">
  	<h1 class="display-4" th:text="${vaccine}"></h1>
  	<p class="lead">Total vaccination Done as of now</p>
  </div>
  
  	<br><br>
	<div class="card text-center">
  	<div class="card-footer text-muted">
    	Today
  	</div>
	</div>
  
  
  	<div class="row">
  	<div class="card w-50">
  	<div class="card-body">
    	<h1 class="card-title" th:utext="${newCase}"></h1>
    	<p class="card-text"><h4>New Cases</h4></p>
    	<a href="#data" class="btn btn-primary">View All data</a>
  	</div>
	</div>
	
	<div class="card w-50">
  	<div class="card-body">
    	<h1 class="card-title" th:utext="${death}"></h1>
    	<p class="card-text"><h4>Decreased</h4></p>
    	<a href="#data" class="btn btn-primary">View All data</a>
  	</div>
	</div>
	
	<div class="card w-50">
  	<div class="card-body">
    	<h1 class="card-title" th:utext="${totalDeath}"></h1>
    	<p class="card-text"><h4>Total Death</h4></p>
    	<a href="#data" class="btn btn-primary">View All data</a>
  	</div>
	</div>
	
	<div class="card w-50">
  	<div class="card-body">
    	<h1 class="card-title" th:utext="${totalCases}"></h1>
    	<p class="card-text"><h4>Total Cases</h4></p>
    	<a href="#data" class="btn btn-primary">View All data</a>
  	</div>
	</div>
	
	</div>
 
 <br><br>  
 <section id="data">   
 <table class="table table-hover table-bordered"  style="text-align:left;">
  <thead class="indigo text-white">
    <tr  bgcolor="black" align="center">
      <th>Country_Code</th>
      <th>Continent</th>
      <th>Location</th> 
	  <th>Population</th> 
	  <th>Last Updated</th> 
	  <th>New Cases</th> 
	  <th>New Death</th> 
	  <th>Total Death</th> 
	  <th>Total Cases</th> 
	  <th>Total Vaccinated</th> 
	  
    </tr>
  </thead>
  <tbody class="table-striped" align="center">
    <tr th:each="stat: ${stats}">
      <td th:text="${stat.countryCode}"/>
      <td th:text="${stat.continent}"/>
      <td th:text="${stat.location}"/>
      <td th:text="${stat.population}"/>
      <td th:text="${stat.lastUpdatedDate}"/>
      <td th:text="${stat.newCases}"/>
      <td th:text="${stat.newDeaths}"/>
      <td th:text="${stat.totalDeaths}"/>
      <td th:text="${stat.totalCases}"/>
      <td th:text="${stat.totalVaccinations}"/>
    </tr>
  </tbody>
  </table>
  </section>
  </body>

</html>