<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Corona Cases Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
    <p th:text="${param1}"></p>
    
  <table>
  <thead>
    <tr>
      <th>State</th>
      <th>Country</th>
      <th>Current Cases</th> 
    </tr>
  </thead>
  <tbody>
    <tr th:each="stat: ${stats}">
      <td th:text="${stat.state}"/>
      <td th:text="${stat.country}"/>
      <td th:text="${stat.currentCases}"/>
    </tr>
  </tbody>
  </table>
  
  </body>

</html>